.navegador {
  background-color: #135fcc; }
  .navegador img {
    width: auto;
    height: 3em; }
  .navegador .tituloPuntodeoro, .navegador .nav-link {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #000;
    padding-right: 10px; }
  .navegador .nav-link {
    font-style: normal;
    margin-left: 30px; }
    .navegador .nav-link:hover {
      color: red !important; }

footer {
  background-color: #135fcc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s; }
  footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4px; }
    footer a:hover {
      color: red; }
  footer p,
  footer div {
    margin: 10px; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer li {
    padding: 6px; }
  @media screen and (min-width: 768px) {
    footer {
      font-size: 1em; }
      footer p {
        margin: auto; }
      footer div ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center; } }

.cajaSlidefijo {
  height: 15em;
  width: 100%;
  background-size: cover;
  align-items: center;
  background-position: center;
  justify-content: center;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/panoramica.jpg); }
  .cajaSlidefijo #tituloh2 {
    color: #fff;
    letter-spacing: 5px;
    text-decoration: underline #135fcc;
    font-size: 40px;
    font-weight: bold; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden; }


.titulos, main h2, main h3 {
  margin: 3em;
  text-align: center;
  color: #135fcc;
  text-shadow: grey 0.5px 0.5px 0.5px;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: #135fcc;
  letter-spacing: .2rem;
  margin: 0.5em;
  padding: 0.5em; }

main {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  
  main h2 {
    font-size: 30px;
    font-weight: bold; }
  main h3 {
    font-size: 25px;
    font-weight: bold; }
 


.card {
  border: 3px solid #135fcc;
  border-top-left-radius: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 30px;
  box-shadow: grey 0.3rem 0.3rem 0.1rem 0.2rem;
height: 100% }
  


#container_productos{
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction:row;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: royalblue;
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
  
}

#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 17px;
    background-color: white;
    border-radius: 10%;
    padding: 10px 15px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}







